.image{
    
    
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(img14.JPG);
    background-size: cover;
    background-position: center;
}
.container
{
  width: 100%;
    margin-top: 0%;
    font-family: cursive;
    letter-spacing: 1px;
}

.container h2
{
    background: #0062cc;
    color: aliceblue;
    width: 200px;
    font-size: 26px;
    padding: 5px;
    height: 35px;

}

.container h2::after
{
    content: '';
    border-top: 39px solid #0062cc;
    border-right: 50px solid transparent;
    position: relative;
    left: 68px;
    top: 34px;
}

button{
    width: 200px;
    height: 100px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    font-size: 16px;
    border: 2px solid #009688;
    background: transparent;
    color: azure;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    
}

button:hover
{
    background-color: aliceblue;
}

















































